.us{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  .usTitule{
    text-align: center;
    margin-bottom: 20px;
  }
  .container__usCards{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    grid-template-rows:  auto auto auto auto;
    gap: 10px;
  }
  .usCard{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .usCard--first{
    grid-column: 1/3;
    grid-row: 1/5;
  }
  .usCard--second{
    grid-column: 3/6;
    grid-row: 1/3;
  }
  .usCard--third{
    grid-column: 3/6;
    grid-row: 3/5;
  }
  
  .usCard__titule{
    width: 90%;
    margin: 10px 0;
  }
  .usCard__text{
    width: 90%;
    margin-bottom: 10px;
  }
  
  @media(max-width: 425px){
    .container__usCards{
        grid-template-columns: auto;
        grid-template-rows:  auto auto auto;
    }
    .usCard--first{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .usCard--second{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .usCard--third{
        grid-column: 1/2;
        grid-row: 3/4;
    }
  }